
a{
	text-decoration:none;
}
.player_one{
	background-color:rgb(255, 255, 255);
	padding:20px;
	border-radius:10px;
}
.player_two{
	background-color:white;
	padding:20px;
	width: 80%;
	height: auto;
	 margin: 40px;
	
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 0;
}

div {
  margin: 20px auto;
  max-width: 600px;
}
audio{
	
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
	text-align:center;
	list-style-type:none;
}
body {
  background-color: rgb(204, 204, 204);
}
